Options +FollowSymLinks -MultiViews
RewriteEngine on

#Rutas
RewriteRule ^auth$ app/AuthController.php


#detalleProducto
RewriteRule ^products/details/(.+)/$ products/details.php?slug=$1


#iniciarSesion
RewriteRule ^iniciar-sesion$ index.php