Options +FollowSymLinks -MultiViews
RewriteEngine on

#Rutas
RewriteRule ^address$ app/AddressController.php
RewriteRule ^auth$ app/AuthController.php
RewriteRule ^brand$ app/BrandController.php
RewriteRule ^cliente$ app/ClientController.php
RewriteRule ^coupon$ app/CouponController.php
RewriteRule ^level$ app/LevelController.php
RewriteRule ^order$ app/OrderController.php
RewriteRule ^presentation$ app/PresentationController.php
RewriteRule ^product$ app/ProductsController.php
RewriteRule ^tags$ app/TagController.php
RewriteRule ^user$ app/UserController.php

#iniciarSesion
RewriteRule ^iniciar-sesion/$ index.php

#cerrarSesion
RewriteRule ^cerrar-sesion/$ logout.php

#productos
RewriteRule ^productos/$ products/index.php

#añadirProductos
RewriteRule ^añadirProductos/$ products/add-products.php

#detalleProducto
RewriteRule ^detalle-productos/(.+)/$ products/details.php?slug=$1

#perfilUsuario
RewriteRule ^perfil-usuarios/$ usuarios/usuario.php

#perfilCliente
RewriteRule ^clientes/$ clientes/cliente.php

#catalogo
RewriteRule ^catalogos/$ catalogos/catalogo.php

#cupon
RewriteRule ^cupones/$ cupones/cupon.php

#orden
RewriteRule ^ordenes/$ ordenes/orden.php
RewriteRule ^detalles-ordenes/(.+)$ ordenes/orden-details.php?slug=$1
