Options +FollowSymLinks -MultiViews
RewriteEngine on

#Rutas
RewriteRule ^auth$ app/AuthController.php

#iniciarSesion
RewriteRule ^iniciar-sesion/$ index.php

#cerrarSesion
RewriteRule ^cerrar-sesion/$ logout.php

#productos
RewriteRule ^productos/$ products/index.php

#añadirProductos
RewriteRule ^añadirProductos/$ products/add-products.php

#detalleProducto
RewriteRule ^detalle-producto/(.+)/$ products/details.php?slug=$1

#usuariosCliente
RewriteRule ^perfil-cliente/$ users/cliente.php

#usuarios
RewriteRule ^cliente/$ users/usuario.php

#catalogo
RewriteRule ^catalogos/$ catalogos/catalogo.php

#cupon
RewriteRule ^cupone/$ cupones/cupon.php

#orden
RewriteRule ^ordenes/$ ordenes/orden.php
RewriteRule ^detalles-ordenes/$ ordenes/orden-details.php
